* {
    box-sizing: border-box;
  }

html {
  scroll-behavior: smooth; 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color:darkblue
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
position: fixed;
width: 100%;
max-width: 1400px;
background-color: darkblue;
}
/* 
  .header-wrapper {
    max-width: 1400px;
    background-color: darkblue;
  } */

  .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    transition: .3s;
    margin: 0;
  }

  .nav-link {
    position: relative;
    padding: 0 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;  
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 12px;
    bottom: -5px;
    width: calc(100% - 24px);
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: .5s;
  }

  .nav-link:hover::after {
    opacity: 1;
    animation-name: movement;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes movement {
    from {
      width: 0;
    }
    to {
      width: calc(100% - 24px);
    }
  }

  .profile-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    padding: 30px 30px 30px;
    border-bottom: 15px solid #6e6159;
  }

  .profile-photo {
    object-fit: cover;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    transition: .3s;
  }

  .profile-title {
  margin-bottom: 20px;  
  left: 50%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #3a0c8f;
  word-spacing: 3px;
  padding: 0px;
  }

  .h1 {
    font-size: 30px;
  }

  .profile-title h1::after {
    content: "";
    position: absolute;
    margin-top: 45px;
    margin-left: -202px;
    width: 200px;
    height: 2px;
    background-color: #3a0c8f;
  }

  .section-title {
    font-size: 20px;
    color: #6e6159;
    text-transform: uppercase;
  }

.two-colomn section {
  display: inline-flex;
  flex-wrap: wrap;
  width: calc(50% - 20px);
  padding: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid #3a0c8f;
  }

  .section-section {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    /* flex: 1; */
    height: 48%;
    margin-left: 4px;
  }

.section-list {
  margin: 0;
  padding: 0;  
  list-style: none;

}

.section-item {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 30px;
}

.section-item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 2px;
  width: 14px;
  height: 14px; 
  background-size: 14px 14px;
  background-image: url("../CV/assets/icons/66.svg");
}

  .section-item a {
    color: #6e6159;
    text-decoration: underline;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #6e6159;
    text-decoration: underline;
  }

  .section-item span {
    color: #6e6159;
  }

.summary-section {
  display: flex-inline;
  flex-direction: row;
  margin: 15px 10px 15 px 5 px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #3a0c8f;
}

.contact-item::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -3px;
  width: 24px;
  height: 24px; 
  background-size: contain;
  background-repeat: no-repeat;
}

.contact-item:nth-child(1)::before {
  background-image: url("../CV/assets/icons/3.svg");
}

.contact-item:nth-child(2)::before {
  background-image: url("../CV/assets/icons/2.svg");
}

.contact-item:nth-child(3)::before {
  background-image: url("../CV/assets/icons/4.svg");
}

.contact-item:nth-child(4)::before {
  background-image: url("../CV/assets/icons/5.svg");
}

.contact {
  padding-left: 10px;
}


.section-experience {
  min-height: 291px;
  } 

.section-code {
height: 44vh;
}

.pre {
    padding: 0;
    margin: 0;
  }
  
  /* .rss {
    width: 121px;
    height: 45px;
    background-image: url("../CV/assets/icons/rss.svg");
    background-color: aqua;
    background-size: contain;
    background-repeat: no-repeat;
  } */
  .footer {
    background-color: #6e6159;
    padding: 5px;  
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #fff;
  }
  
  
